<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>422916102456-un9r3vvbh9bon1sdjoujveqn5ughvj5b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422916102456-un9r3vvbh9bon1sdjoujveqn5ughvj5b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>422916102456-83sg3tl2l1lal2opjmde9leseh24hdgk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBNuwMTJIcYPt9puMTjncD9Ux4iTs4vrZM</string>
	<key>GCM_SENDER_ID</key>
	<string>422916102456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aifoodapp.aifood</string>
	<key>PROJECT_ID</key>
	<string>aifood-666be</string>
	<key>STORAGE_BUCKET</key>
	<string>aifood-666be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422916102456:ios:a6465c585463d4ffd809cd</string>
</dict>
</plist>